*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

:root{
  --main-bg-color: #84468D;
  --main-accent-color: #DAC4DD;
}

body {
  color: white;
  background-color: var(--main-bg-color);
}

a{
  text-decoration: none;
  color: black;
}

button{
  background:none;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
